@*@model PondData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PondData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PondID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PondID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initial_population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initial_population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initial_average_weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initial_average_weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimated_end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimated_end_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimated_harvest_average_weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimated_harvest_average_weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimated_survival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimated_survival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food_type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@